.plan {
  &-confirmation {
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;

    &-button {
      width: 130px;
      color: var(--bs-yellow);
      background: var(--bs-dark);
      border: none;

      &:hover, &:focus {
        background: var(--bs-yellow);
        color: var(--bs-dark);
        box-shadow: none;
        outline: none;
      }
    }
  }

  &-item {
    cursor: pointer;
    width: 50%;
    padding-left: 0;
    padding-right: 0;

    &:hover, &[data-selected="true"] {
      background: var(--bs-yellow);
    }

    &-no-padding {
      padding-left: 0;
      padding-right: 0;
    }

    &-description {
      cursor: pointer;
      font-size: small;
      padding-left: 0;
      padding-right: 0;

      & * {
        background: transparent;
      }

      &-first {
        border-top: 1px solid rgba(0,0,0,.125) !important;
      }
    }
  }
}