.plan {
  &-item {
    cursor: pointer;
    width: 50%;
    padding-left: 0;
    padding-right: 0;

    &:hover, &[data-selected="true"] {
      background: var(--bs-yellow);
    }

    &-no-padding {
      padding-left: 0;
      padding-right: 0;
    }

    &-description {
      cursor: pointer;
      font-size: small;
      padding-left: 0;
      padding-right: 0;

      & * {
        background: transparent;
      }

      &-first {
        border-top: 1px solid rgba(0,0,0,.125) !important;
      }
    }
  }
}