.admin {
  &-audit {
    width: 800px;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 44px;
      display: block;
      width: 2px;
      content: "";
      background-color: var(--bs-gray-300);
      z-index: -99;
    }

    &-action {
      line-height: 34px;
      background: var(--bs-gray-400);
      height: 40px;
      width: 40px;
    }

    &-message {
      line-height: 54px;
    }

    &-time {
      line-height: 54px;
      font-size: 0.8em;
    }
  }

  &-users {
    width: 800px;
  }
}
