.image-content {
  background: var(--bs-dark);
  color: var(--bs-gray-400);

  &-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }

  &-tags {
    color: black;
    font-size: 0.8em;
    bottom: 0;

    .hashtag-tag {
      margin-top: 2px;
      display: inline-block;
    }
  }
}
