.image-content {
  background: var(--bs-dark);
  color: var(--bs-gray-400);

  &-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }

  &-tags {
    color: black;
    font-size: 0.8em;
    bottom: 0;

    .hashtag-tag {
      margin-top: 2px;
      display: inline-block;
    }
  }

  input:focus {
    border-color: var(--bs-yellow);
    box-shadow: 0 0 8px var(--bs-yellow);
    background: var(--bs-body-bg);
  }

  input:-webkit-autofill, input:-webkit-autofill:focus {
    background: #fffcc8 !important;
    border-color: var(--bs-yellow);
  }
}
