.user-details {
  width: 500px;
}
.user-action-button {
  width: 130px;
  color: var(--bs-yellow);
  background: var(--bs-dark);
  border: none;
  display: block;

  &:hover, &:focus {
    background: var(--bs-yellow);
    color: var(--bs-dark);
    box-shadow: none;
  }
}